@model CadastroAluno.Models.Aluno

<h2 style="color:green;">Cadastro realizado com sucesso!</h2>

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>RA:</strong> @Model.RA</p>
<p><strong>Curso:</strong> @Model.Curso</p>
<p><strong>Data de Nascimento:</strong> @Model.DataNascimento.ToShortDateString()</p>

<a asp-controller="Aluno" asp-action="Cadastrar">
    Cadastrar outro
</a>